<main>
<div class="settings">
    <div class="settings__accountlink">
        <div class="settings__accountlinkicon">
            <svg class="account-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path class="a" d="M17,3A14,14,0,1,0,31,17,14.005,14.005,0,0,0,17,3Zm0,4.2a4.2,4.2,0,1,1-4.2,4.2A4.194,4.194,0,0,1,17,7.2Zm0,19.88a10.081,10.081,0,0,1-8.4-4.508c.042-2.786,5.6-4.312,8.4-4.312s8.358,1.526,8.4,4.312A10.081,10.081,0,0,1,17,27.08Z" transform="translate(-3 -3)"/></svg>
        </div>

        <div class="settings__accountlinktext">
            <p>Account gegevens aanpassen?</p>
            <a class="settings__accountlinktext__linktext" href="account">Ga naar het account-tabblad</a>
        </div>

    </div>

    <div class="settings__settingsall">

        <h4>Instellingen</h4>

        <div class="settings__settingsall__smalltext">
            <div>
                <p>Animaties weergeven</p>
                <switchknob></switchknob>

                <p>Dark modus activeren</p>
                <switchknob ref="darkModeSwitch" @dark-mode-toggle="(value) => darkModeToggle(value)"></switchknob>

                <p>Push meldingen ontvangen</p>
                <switchknob></switchknob>

                <p>Taal</p>
                <dropdownmenu></dropdownmenu>

                <p>Toevoeg optie</p>
                <dropdownmenu></dropdownmenu>
            </div>          
        </div>
    </div>
</div>
</main>